@model Models.Question

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Question Details";
}


    <h4 class="text-success">Question</h4>
    <hr/>
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Marks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuestionOptionses)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuestionOptionses.Count)
        </dd>

    </dl>
    <p>
        @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
        @Html.ActionLink("Back to List", "QuestionIndex")
    </p>
