@model Models.ViewModels.CourseEntryVm

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Course Information";
}
<!DOCTYPE html>


    @section Styles
    {
        <link href="~/Content/AppCustomStyle.css" rel="stylesheet" />
    }

    <div class="row">
        <div class="col-md-6">
            <h1>@Model.Name</h1></div>
        <div class="col-md-6 detail-top-right">
            <p class="text-right">
                @Html.ActionLink("Edit", "CourseInformation", new {id = Model.Id}) |
                @Html.ActionLink("Back to List", "Index")
            </p>
        </div>
    </div>

    <hr/>

    <!-- Nav Tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#basic" aria-controls="basic" role="tab" data-toggle="tab">Basic Info</a></li>
        <li role="presentation"><a href="#outline" aria-controls="outline" role="tab" data-toggle="tab">Outline</a></li>
        <li role="presentation"><a href="#exam" aria-controls="exam" role="tab" data-toggle="tab">Exams</a></li>
        <li role="presentation"><a href="#participant" aria-controls="participant" role="tab" data-toggle="tab">Participants</a></li>
        <li role="presentation"><a href="#trainer" aria-controls="trainer" role="tab" data-toggle="tab">Trainers</a></li>
    </ul>

    <!-- Tab Pans -->
    <div class="tab-content">
        <!-- Basic Content -->
        <br/>

        <div role="tabpanel" class="tab-pane fade in active" id="basic">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Organization.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Organization.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Code)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Code)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Duration)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Duration)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Credit)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Credit)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Tag)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Tag)
                </dd>

            </dl>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="outline">
            <dl class="dl-horizontal">

                <dt>
                    @Html.DisplayNameFor(model => model.Outline)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Outline)
                </dd>

            </dl>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="exam"></div>
        <div role="tabpanel" class="tab-pane fade" id="participant">
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(c => c.Participant.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(c => c.Participant.Email)
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>

                    @foreach (var item in Model.Participants)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(c => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(c => item.Email)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", "Participant", new {id = item.Id}, null) |
                                @Html.ActionLink("Details", "Details", "Participant", new {id = item.Id}, null) |
                                @Html.ActionLink("Remove", "Delete", "Participant", new {id = item.Id}, null)
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="trainer">
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(c => c.Trainer.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(c => c.Trainer.Email)
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>

                    @foreach (var item in Model.Trainers)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(c => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(c => item.Email)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", "Trainer", new {id = item.Id}, null) |
                                @Html.ActionLink("Details", "Details", "Trainer", new {id = item.Id}, null) |
                                @Html.ActionLink("Remove", "Delete", "Trainer", new {id = item.Id}, null)
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>



    <p class="text-right">
        @Html.ActionLink("Edit", "CourseInformation", new {id = Model.Id}) |
        @Html.ActionLink("Back to List", "Index")
    </p>
    
    
    
